.btn-custom {
  color: #000000;
  background: var(--primary-aqua);
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 11px;
  font-weight: 700;
  border-radius: 5px;
  padding: 8px 17px;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
  min-width: 135px;
  position: relative;
}

.btn-custom:active {
  transform: scale(.9);
}

.btn-custom span {
  position: relative;
}

.btn-click {
  position: relative;
  transition: 0.3s all;
}

.btn-click:active {
  transform: scale(.9);
}

/* 
.btn-click::before {
  position: absolute;
  border: none;
  content: "";
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  animation: shadow-pulse .6s ease-out 1 forwards;

}

@keyframes shadow-pulse {
  0% {
    width: 0%;
    height: 100%;
    border-radius: 50%;
    background: #fff;
    opacity: .9;
  }

  100% {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    opacity: 1;

  }
} */

.btn-custom svg {
  fill: #000000;
  width: 11px;
  height: 11px;
}

.btn-custom.width-auto {
  min-width: auto;
}

.btn-aqua-outlined {
  border: 1px solid var(--primary-aqua);
  border-radius: 9px;
  background-color: transparent;
  padding: 0.2rem 0.5rem;
  color: var(--primary-aqua);
  cursor: pointer;
}

.btn-custom.outlined {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  min-width: unset;
}

.btn-lg {
  padding: 12px 34px;
  font-size: 12px;
}

.btn-disabled {
  pointer-events: none;
  background: var(--gray-color);
}




/* PRIMARY BUTTON */
.btn-primary {
  background-color: #1f2947;
  border: 0.6px solid #414c70;
  border-radius: 5px;
  padding: 0.3rem 1rem;
}