* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--secondary-color);
  color: #fff;
}

/* LANDING */
@import "./landingCss/owl.carousel.css";
@import "./landingCss/ourAdvantagesSection.css";
@import "./landingCss/aboutUsInNumbersSection.css";
@import "./landingCss/topOffersSection.css";
@import "./landingCss/showSearchCountrySection.css";
@import "./landingCss/individualOffers.css";
@import "./landingCss/registerNowSection.css";
@import "./landingCss/main.css";
@import "./landingCss/appHeaderSection.css";

@import url("./utilities.css");
@import url("./custom/new_offer_slider.css");
@import url("./custom/datepicker.css");
@import url("./custom/inputs.css");
@import url("./custom/tabs.css");
@import url("./custom/tooltip.css");

/* tables */
@import url("./custom/domains_table.css");
@import url("./custom/stream_table.css");
@import url("./custom/finance_table.css");
@import url("./custom/requests_table.css");

@import url("./custom/stream.css");

@import url("./custom/modal.css");
@import url("./custom/loader.css");
@import url("./custom/checkbox.css");
@import url("./custom/radio_classic.css");
@import url("./custom/multiple_select.css");
@import url("./custom/toggle_btn.css");

@import url("./custom/table_pagination.css");
@import url("./custom/select.css");
@import url("./custom/stat_table.css");
@import url("./custom/multi-check.css");
