.multiple_select_box {
  width: 188px;
  position: relative;
  margin: 0 2rem 2rem 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 5px;
  display: inline-block;
}

/* Hide the browser's default checkbox */
.multiple_select_box input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.multiple_select_box .checkmark {
  display: inline-block;
  position: unset;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
}

.multiple_select_box input:checked~.checkmark {
  background-color: var(--primary-aqua);
  border: 1px solid var(--primary-aqua);
}

/* filter icon color */
.multiple_select_box input:checked~.checkmark .checkmark-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(303deg) brightness(105%) contrast(103%);
}

/* Show the checkmark when checked */
.multiple_select_box input:checked {
  background-color: var(--primary-aqua);
}

/* Style the checkmark/indicator */
.multiple_select_box .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}