select.primary,
select.secondary {
  padding: 0.5rem;
  width: 100%;
  background: #1f2947;
  border: 0.6px solid #414c70;
  border-radius: 5px;
  color: #fff;
  font-size: 17px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}

select.secondary {
  background-color: transparent;
  border: 0.6px solid #fff;
}

select.secondary option {
  background-color: var(--primary-color);
}

.select_primary_wrapper {
  position: relative;
}

.select_icon_wrap {
  position: absolute;
  background-color: var(--primary-aqua);
  width: 46px;
  height: 100%;
  border-radius: 4px;
}

select.primary:focus {
  border-color: var(--primary-aqua);
  box-shadow: 0 0 0 1px var(--primary-aqua);
}

.rselect .css-yk16xz-control {
  cursor: pointer;
}
