.stream_top_bar_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.top_bar_part {
    display: flex;
    align-items: center;
    width: 330px;
    justify-content: space-between;
}

.top_bar_part div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #1f2947;
    border: 0.6px solid #414c70;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}

.top_bar_part div:hover {
    background: #223263;
}

.item_box img {
    margin-right: 10px;
}

.item_box p {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    white-space: nowrap;
}